<div class="single">
<div class="container">
	<div class="contact">
      <h3>Frequently Asked Questions</h3>
      <br>
      <h4><span class="glyphicon glyphicon-question-sign"></span>  How do I search for an item? </h4>
      <p>You can search for an item by product category or by using the search bar. To search by product category, simply select a category
      name from the navigation bar at the top of the home page. To user the search bar, enter the item's name or keywords and click the enter
     button when finished. </p><br>
      <h4><span class="glyphicon glyphicon-question-sign"></span>  How do I check the status of my order? </h4>
      <p> You can check the status of your order by logging in and going to your <a href="http://ui-techbucket.herokuapp.com/account">account page</a>. </p>

			<div class="col-md-4 contact-left">
				<h3>Address</h3>
				<p>1 UTSA Circle, San Antonio, TX 78249</p>
				<ul>
					<li>Telephone: 555-555-5555</li>
					<li><a href="mailto:customerservice@techbucket.com">customerservice@techbucket.com</a></li>
				</ul>
			</div>
			<div class="col-md-8 contact-left">
				<h3>Contact Form</h3>
				<form>
					<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
					<input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="text" value="Telephone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone';}" required="">
					<textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
					<input type="submit" value="Submit" >
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
   	</div>
   </div>
</div>
